{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Vous n'avez pas accès à cette ressource</h1>
        <a href="{{path('home_index')}}" class="btn btn-primary">Retour à l'acceuil</a>
        <a href="{{path('ads_index')}}" class="btn btn-danger">Voir toutes nos annonces</a>
    </div>
{% endblock %}